.navbar {
	font-size: 1.6rem;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.navbar-brand {
	font-size: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-right: 1.6rem;
}

.nav-link {
	padding: 0.8rem;
}